# R and RStudio
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Temporary files
*.tmp
*.temp
~$*.xlsx

# Windows
Thumbs.db
desktop.ini

# Local sequencing data
data/*
!data/README.md


# Generated intermediate objects
*.RData
*.rds
*.RDS

# Optional private folders
data-raw/
private-data/